/* Image Section */
.social img {width: 200px; height: 200px;  padding: 10px; }
.education img {width: 250px; height: 250px;  padding: 10px; }
.experience img {width: 250px; height: 250px;  padding: 10px; }
.project img {width: 250px; height: 250px;  padding: 10px; }
.startup img {width: 250px; height: 250px;  padding: 10px; }
.skills img {width: 200px; height: 200px;  padding: 10px; }
